@layer default;
@import "./base.css" layer(default);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer default {
  #app {
    height: 100%;
  }

  html {
    scrollbar-color: none;
    scrollbar-width: none;
  }
}
