@layer default;
@import "./base.css" layer(default);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer default {
  #app {
    height: 100%;
  }

  html {
    scrollbar-color: none;
    scrollbar-width: none;
  }
}

.my-link {
  @apply text-nowrap active:bg-gray-800 cursor-pointer block rounded-sm px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white;
}
.link-exact-active,
.link-active {
  @apply bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium;
}
